body{
    background-color: rgb(3, 202, 242);
    color:black;
    padding: 0;
    margin: 0;;
}

ul.header{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    margin-top:20px;
    padding: 10px 0;
}

li.header a {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(3, 202, 242);
}
h1{
    color: blue;
    text-align: center;
}

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color:rgb(118, 217, 237);
}

.profile > div >p{
    margin-left: 20px;
}
.profilepic{
    height: 200px;
    width: auto;
    border-radius: 20px;
}

.sec1{
    background-color:rgb(118, 217, 237);
}

.sec2{
    background-color: rgb(118,217,237);
}

.sec3{
    background-color: rgb(118,217,237);
}
section> h2{
    margin-left: 20px;
}

section > ul{
    margin-left: 30px;
}

.lastlvlul{
    font-size: smaller;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.buttons{
    border: none;
    border-radius: 20px;
    background-color:white;
    padding: 10px;
    margin: 5px;
}

.buttons a{
    text-decoration: none;
    color: rgb(3, 202, 242);
    font-weight: bold;
}

.name{
    font-weight: bolder;
    color: blueviolet;
}